# Core functionality - changes here should be rare!
/src/app.py                   @faizulhasson5-sudo
/src/backend/database.py      @faizulhasson5-sudo
/src/backend/routers/auth.py  @faizulhasson5-sudo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @faizulhasson5-sudo
